.cover {
	width: 100%;
	height: clamp(80px, 30px + 8vw, 148px);
	background-image: url("/images/head-banner.svg");
	background-attachment: fixed;
	background-position: center;
	background-size: contain;
	background-repeat: repeat;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
