.home-work-card {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 8px;

	&-head {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		&-left {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 16px;
		}
	}
}
