@import "@/styles/config/typography";

.chip {
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 6px;
	padding: 6px 12px;
	border-radius: 500px 500px 2px 500px;
	background-color: var(--theme-lavender-savor);
	color: var(--theme-black);
	@include typography($size: md);
}
