@import "@/styles/config/mixins";
@import "@/styles/config/animations";

.menu {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 200;
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	background-color: var(--color-theme-light-navy);
	color: var(--color-theme-navy);
	padding: 0 15%;
	animation: fade-right-in 0.5s ease-in-out 0s forwards;

	&-links {
		height: 100%;
		display: flex;
		justify-content: space-evenly;
		align-items: flex-start;
		flex-flow: column;
		list-style: none;

		li {
			$s: 50px;
			$x: $s/3;
			font-size: 80px;
			font-weight: 200;
			line-height: 120%;
			color: var(--color-theme-lightest-slate);
			letter-spacing: 4px;
			position: relative;
			font-family: var(--font-gilroy-regular);

			&::before {
				content: attr(data-index);
				position: absolute;
				left: -80px;
				top: 50%;
				transform: translateY(-50%) rotate(-90deg);
				font-size: 16px;
			}

			span {
				width: $x * 3;
				height: 1px;
				background-color: var(--color-theme-lightest-slate);
				margin-left: 16px;
				position: absolute;
				left: 110%;
				top: 50%;
				transform: translateY(-50%);

				&::before,
				&::after {
					content: "";
					width: $x * 1.414;
					height: 1px;
					background-color: var(--color-theme-lightest-slate);
					position: absolute;
					right: -$x * 0.236;
				}

				&::before {
					transform: translatey(-$x/2 + 0.5px) rotate(45deg);
				}

				&::after {
					transform: translatey($x/2 - 0.5px) rotate(-45deg);
				}
			}

			a {
				color: var(--color-theme-lightest-slate);

				&:hover {
					color: var(--color-theme-green);
				}
			}

			a:hover + span {
				background-color: var(--color-theme-green);
				width: $x * 4;

				&::before,
				&::after {
					background-color: var(--color-theme-green);
				}
			}
		}
	}

	&-socials {
		position: fixed;
		bottom: 32px;
		right: 32px;
		z-index: 210;
		list-style: none;
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		margin: 0 24px;
		gap: 16px;

		a {
			width: 48px;
			height: 48px;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			color: var(--color-theme-light-slate);

			svg {
				width: 24px;
				height: 24px;
			}

			&:hover {
				color: var(--color-theme-green);
				transform: translateY(-2px);
			}

			&:after {
				all: unset;
			}
		}
	}

	&-button {
		@include init-button();
		position: fixed;
		width: 36px;
		height: 36px;

		svg {
			width: 36px;
			height: 36px;
			stroke: var(--color-white);
		}

		&--open {
			top: 50%;
			left: 32px;
			transform: translateY(-50%);
			z-index: 160;
		}

		&--close {
			top: 32px;
			right: 56px;
			z-index: 210;
		}
	}

	&--closing {
		animation: fade-right-out 0.5s ease-in-out 0s forwards;
	}
}
