@import "@/styles/config/mixins";

.home {
	width: 100%;
	min-height: 100vh;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	color: var(--base-neutral-900);
	padding: 16px 20px 16px 100px;

	@include responsive(phone) {
		padding: 16px 20px;
	}
}
