@import "@/styles/config/typography";

.home-basic {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 0 5%;
	gap: 40px;

	&-avatar {
		margin-top: -50px;
	}

	&-content {
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 16px;

		&-socials {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 8px;

			a:first-child {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				flex: 0 0 auto;
				gap: 12px;
				text-decoration: none;
				border-radius: 500px;
				margin-right: 8px;
				@include typography($size: lg);

				svg {
					width: 24px;
					height: 24px;
					flex: 0 0 auto;
				}
			}

			a:not(:first-child) {
				width: 42px;
				height: 42px;
				display: inline-flex;
				justify-content: center;
				align-items: center;
				flex: 0 0 auto;
				text-decoration: none;
				background-color: var(--theme-bleached-silk);
				color: var(--theme-black);
				border-radius: 500px;

				svg {
					width: 20px;
					height: 20px;
					flex: 0 0 auto;
					transition: none;
				}

				&:hover {
					background-color: var(--theme-bashful);
				}
			}
		}
	}
}
