.navbar {
	width: 100%;
	height: var(--nav-height);
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-brand-black);
	padding: 0 5%;
	font-size: 14px;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 150;

	&-logo {
		width: 200px;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;

		img {
			width: auto;
			height: 100%;
			transform: scale(1.5);
			filter: invert(1);
		}
	}

	&-nav-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		list-style: none;
		gap: 45px;

		a {
			padding: 6px 4px;
			color: var(--color-theme-lightest-slate);

			&:hover {
				color: var(--color-theme-green);
			}

			&::after {
				bottom: 0;
			}
		}
	}
}
