@import "@/styles/config/mixins";

.home-projects {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	padding: 48px 5%;

	@include responsive(tablet) {
		padding: 16px 0;
		align-items: center;
		text-align: center;
	}

	@include responsive(phone) {
		padding: 16px 0;
		align-items: center;
		text-align: center;
	}

	&-description {
		width: 80%;

		a {
			text-decoration: underline;
		}
	}

	&-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		@include responsive(phone) {
			justify-content: center;
			flex-direction: column;
		}
	}

	&-card {
		width: calc(100% - 24px);
		// aspect-ratio: 1200 / 630;
		background-color: var(--semantic-primary-background-medium);
		flex: 0 0 auto;
		display: flex;
		justify-content: space-between;
		align-items: stretch;
		flex-direction: column;
		padding: 8px;
		gap: 8px;
		margin: 12px;
		border-radius: var(--border-radius);
		position: relative;
		overflow: hidden;

		@include responsive(phone) {
			max-width: unset;
			width: 100%;
			padding: 4px;
			gap: 4px;
		}

		&-graphic {
			width: 100%;
			aspect-ratio: 1200 / 630;
			flex: 0 1 auto;
			border-radius: inherit;
			overflow: hidden;
			display: flex;
			justify-content: center;
			align-items: center;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}

		&:hover &-graphic {
			img {
				transform: scale(1.05);
			}
		}

		&-content {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: column;
			padding: 24px 16px;
			position: absolute;
			bottom: 0;
			left: 0;
			transform: translateY(100%);
			background-image: linear-gradient(
				180deg,
				hsla(0, 0%, 100%, 0),
				rgba(0, 0, 0, 0.8) 65%
			);

			@include responsive(phone) {
				position: relative;
				transform: unset;
				background-image: none;
				padding: 0;
			}

			&__header {
				width: 100%;
				display: flex;
				justify-content: space-between;
				align-items: center;
				overflow: hidden;
				padding: 0 24px;

				@include responsive(phone) {
					height: 48px;
					padding: 8px 12px;
				}
			}

			&__body {
				width: 100%;
				padding: 16px;
				display: flex;
			}

			&__skills {
				width: 100%;
				display: flex;
				justify-content: flex-start;
				align-items: center;
				flex-flow: row wrap;
				gap: 16px;
				padding-right: 48px;

				@include responsive(phone) {
					padding-right: 0;
					justify-content: space-evenly;
					gap: 12px;
				}
			}
		}

		&--featured &-content {
			&__body {
				display: flex;
			}
		}

		&:hover &-content {
			transform: translateY(0);
		}

		&-left {
			height: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 24px;

			@include responsive(phone) {
				gap: 16px;
			}

			img {
				object-fit: contain;
				width: auto;
				height: 32px;

				@include responsive(phone) {
					height: 24px;
				}
			}
		}

		&-right {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			gap: 24px;

			@include responsive(phone) {
				gap: 16px;
			}

			a {
				width: 24px;
				height: 24px;
				border-radius: 500px;
				padding: 2px;

				svg {
					width: 100%;
					height: 100%;
				}
			}
		}
	}
}
