.project {
	&-card {
		width: 350px;
		aspect-ratio: 5/4;
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		flex-direction: column;
		flex: 0 0 auto;
		background-color: var(--color-theme-navy);
		padding: 32px 24px;
		border-radius: 8px;
		box-shadow: 0 10px 30px -15px var(--navy-shadow);
		position: relative;
		z-index: 5;
		overflow: hidden;

		&-header {
			width: 100%;
			display: flex;
			justify-content: space-between;
			align-items: center;

			&-links {
				display: flex;
				justify-content: flex-end;
				align-items: center;
				gap: 16px;

				a::after {
					all: unset;
				}
			}
		}

		&-content {
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: flex-start;
			flex-direction: column;
			gap: 8px;
			letter-spacing: 0.6px;
		}

		&-tags {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-flow: row wrap;
			gap: 8px;

			&-tag {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				padding: 4px 8px;
				border-radius: 500px;
				background-color: var(--color-theme-light-navy);
				font-size: 12px;
				font-weight: 500;
			}
		}

		&-image {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			z-index: -1;
			width: 125%;
			height: 125%;
			opacity: 0;
			background-size: cover;
			background-position: center;
			background-blend-mode: darken;
			border-radius: 4px;
			transition: all 0.25s ease-in-out;
			background-color: rgba(0, 0, 0, 0.9);
		}

		&:hover &-image {
			width: 100%;
			height: 100%;
			opacity: 1;
		}
	}

	&-showcase {
		height: 500px;
		aspect-ratio: 16/9;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 36px;
		margin: 0 auto;
		border-radius: 16px;
		background-size: cover;
		background-position: center;
		background-blend-mode: darken;
		padding: 48px 15% 48px 48px;
		overflow: hidden;
		position: relative;
		letter-spacing: 1px;

		& * {
			opacity: 0;
			position: relative;
			z-index: 5;
		}

		&:hover * {
			opacity: 1;
		}

		&-title {
			position: relative;
			$bar-width: 48px;

			&::before,
			&::after {
				content: "";
				position: absolute;
				top: 110%;
				width: $bar-width;
				height: 4px;
			}

			&::before {
				left: 0;
				background-color: var(--color-warning-600);
			}

			&::after {
				left: $bar-width;
				background-color: var(--color-theme-green);
			}
		}

		&-tags {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-flow: row wrap;
			gap: 8px;

			&-tag {
				display: inline-flex;
				justify-content: center;
				align-items: center;
				padding: 4px 12px;
				border-radius: 500px;
				background-color: var(--color-theme-lightest-navy);
				font-size: 12px;
				font-weight: 500;
			}
		}

		&-links {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 24px;

			svg {
				width: 32px;
				height: 32px;
				fill: var(--color-theme-navy);
			}
		}

		&-poster {
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 1;
			opacity: 1;
			background-blend-mode: darken;

			img {
				object-fit: contain;
				max-width: 100%;
				max-height: 100%;
				opacity: 1;
				z-index: 2;
				transform: scale(1.02);
			}

			&::after {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: transparent;
				z-index: 3;
			}
		}

		&:hover &-poster::after {
			background-color: var(--color-theme-light-navy);
		}

		&:hover &-poster > img {
			transform: scale(1);
		}
	}
}
