@import "@/styles/config/mixins";

.navigation {
	width: 56px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-direction: column;
	gap: 12px;
	position: fixed;
	top: 24px;
	left: 20px;
	z-index: 20;
	padding: 8px 4px;
	border-radius: 500px;
	background-color: var(--semantic-primary-background-weak);
	box-shadow: var(--shadow-m);

	@include responsive(phone) {
		width: calc(100% - 32px);
		height: 56px;
		top: unset;
		bottom: 12px;
		left: 50%;
		transform: translateX(-50%);
		overflow: hidden;
		flex-direction: row;
		overflow-x: auto;
	}

	&-list {
		&-item {
			display: flex;

			&:nth-child(n + 4) {
				display: none;

				@include responsive(phone) {
					display: flex;
				}
			}

			&:last-child {
				display: flex;
			}

			&--active {
				svg {
					transform: rotateZ(-180deg);
				}
			}
		}

		&--expanded &-item {
			display: flex;

			&:last-child {
				@include responsive(phone) {
					display: none;
				}
			}
		}

		@include responsive(phone) {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-direction: row;
			gap: 12px;
		}
	}

	a,
	button {
		@include init-button;
		width: 48px;
		height: 48px;
		border-radius: 500px;
		padding: 8px;

		&:hover {
			background-color: var(--base-neutral-500-10);
		}

		svg {
			stroke: var(--semantic-primary-text-medium);
		}
	}

	&-divider {
		width: calc(100% - 12px);
		height: 1px;
		background-color: var(--semantic-neutral-alpha-strong);
		opacity: 0.35;

		@include responsive(phone) {
			width: 1px;
			height: calc(100% - 12px);
		}
	}
}
