@import "@/styles/config/mixins";

.home-hero {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: column;
	text-align: center;

	&-title {
		font-size: 125px;
		line-height: 150%;
		letter-spacing: 4px;

		@include responsive(phone) {
			font-size: 48px;
			white-space: nowrap;
		}
	}

	&-subtitle {
		font-size: 40px;
		line-height: 120%;

		@include responsive(phone) {
			font-size: 24px;
		}
	}
}
