@import "@/styles/config/mixins";

.home-hero {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	padding: 0 2rem;

	&-name {
		font-size: 5rem;
		line-height: 120%;
		color: var(--b-lightest-slate);
		letter-spacing: 0.25rem;
	}

	&-about {
		width: 60%;
		line-height: 150%;
		font-size: 1.125rem;
		margin: 1.5rem 0;
	}
}
