@import "@/styles/config/mixins";

.home-hero {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	padding: 0 2rem;
	scroll-snap-align: start;

	&-name {
		font-size: 7rem;
		font-weight: 800;
		line-height: 120%;
		letter-spacing: 0.25rem;
	}

	&-about {
		width: 80%;
		line-height: 150%;
		font-size: 2.25rem;
		margin: 1.5rem 0;
	}
}
