@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.home-about {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	gap: 24px;
	padding: 24px 0;

	@include responsive(tablet) {
		flex-direction: column-reverse;
		padding: 0;
		gap: 0;
	}

	@include responsive(phone) {
		flex-direction: column-reverse;
		padding: 0;
		gap: 0;
	}

	&-container {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 36px;
		padding: 48px 36px;
		padding: 96px 50% 96px 56px;
		border-radius: var(--border-radius);
		background-repeat: no-repeat;
		background-size: cover;
		background-position-x: right;
		background-position-y: center;

		@include _theme(light) {
			background-image:
				linear-gradient(
					105deg,
					rgba(255, 255, 255, 0.9) 0%,
					rgba(255, 255, 255, 0.9) 55%,
					transparent 55%
				),
				url("/images/akshat-athena.png");
		}

		@include _theme(dark) {
			background-image:
				linear-gradient(
					105deg,
					rgba(0, 0, 0, 0.9) 0%,
					rgba(0, 0, 0, 0.9) 55%,
					transparent 55%
				),
				url("/images/akshat-athena.png");
		}
	}

	&-frame {
		--s: 30vh;
		--m: 0.5rem;
		width: min(calc(var(--s) * 1.5 + var(--m) * 3), 100%);
		position: relative;
		overflow: hidden;
		aspect-ratio: 1 / 1;
		flex: 0 0 auto;
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			"tile-1 tile-2 tile-2"
			"tile-1 tile-5 tile-3"
			"tile-4 tile-4 tile-3";
		gap: var(--m) var(--m);
		padding: var(--m);

		&__pin {
			grid-column-start: 2;
			grid-row-start: 2;
			display: flex;
			justify-content: center;
			align-items: center;

			background-image: url("/images/grid-center.png");
			background-size: cover;
			background-position: center;
		}

		&__tile {
			display: flex;
			justify-content: center;
			align-items: center;
			background-size: cover;
			background-position: center;

			&-1 {
				grid-area: tile-1;
				background-image: url("/images/grid-1.png");
			}

			&-2 {
				grid-area: tile-2;
				background-image: url("/images/grid-2.png");
			}

			&-3 {
				grid-area: tile-3;
				background-image: url("/images/grid-3.png");
			}

			&-4 {
				grid-area: tile-4;
				background-image: url("/images/grid-4.png");
			}
		}
	}
}
