@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.home-intro {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	position: relative;
	padding: 24px 5%;
	gap: 24px;

	@include responsive(phone) {
		flex-direction: column-reverse;
		padding: 0;
		gap: 0;
	}

	&-left {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: flex-start;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		border-radius: var(--border-radius);
		color: var(--base-neutral-900);
		@include rotating-background(
			var(--semantic-primary-alpha-strong),
			transparent,
			5s,
			-30deg
		);

		@include responsive(phone) {
			width: 100%;
			align-items: center;
			text-align: center;
			padding: 24px;
			border-radius: 0 0 var(--border-radius) var(--border-radius);
		}

		&-title {
			@include typography($size: head-1, $weight: semi-bold);

			@include responsive(phone) {
				@include typography($size: head-2, $weight: semi-bold);
				white-space: nowrap;
			}
		}

		&-subtitle {
			@include typography($size: lg, $weight: regular);

			@include responsive(phone) {
				@include typography($size: md, $weight: regular);
			}
		}

		&-button {
			@include init-button;
			@include typography($size: md, $weight: semi-bold);
			padding: 12px 20px;
			gap: 8px;
			border-radius: 8px;
			background: var(--semantic-primary-alpha-medium);
			color: var(--base-neutral-900);
			transition: all 0.2s ease-in-out;

			&:hover {
				background: var(--semantic-primary-alpha-strong);
			}

			@include responsive(phone) {
				@include typography($size: sm, $weight: semi-bold);
				padding: 8px 16px;
			}

			&-icon {
				margin-left: 8px;
				transition: all 0.2s ease-in-out;

				&:hover {
					transform: translateX(4px);
				}
			}
		}
	}

	&-right {
		width: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		border-radius: var(--border-radius);
		overflow: hidden;
		position: relative;
		z-index: 2;

		@include responsive(phone) {
			width: 100%;
			border-radius: var(--border-radius) var(--border-radius) 0 0;
		}

		img {
			width: 100%;
			height: auto;
			object-fit: contain;
		}

		&-image-1 {
			z-index: 5;
		}

		&-image-2 {
			z-index: 1;
			position: absolute;
			top: 0;
			left: 0;
		}

		&:hover &-image-1 {
			opacity: 0;
		}
	}
}
