.home-work {
	width: calc(100% - 36px);
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	gap: 24px;
	margin: 0 0 0 auto;
	padding: 24px;
	border-radius: 24px;
	background-color: var(--theme-white);
}
