@import "@/styles/config/mixins";

.home-work {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-flow: column;
	gap: 36px;
	padding: 0 var(--socials-bar-width);

	&-title {
		position: relative;

		&::before {
			content: "02";
			position: absolute;
			top: 0;
			right: 110%;
			font-size: 24px;
			font-weight: 200;
			opacity: 0.5;
			transform: rotate(270deg);
			color: var(--color-theme-lightest-slate);
			font-family: var(--font-gilroy-regular);

			@include responsive(phone) {
				display: none;
			}
		}
	}
}
