@import "@/styles/config/mixins";
@import "@/styles/config/typography";

.home-work {
	width: 90%;
	display: flex;
	justify-content: flex-start;
	align-items: flex-start;
	flex-direction: column;
	margin: 0 auto;
	background-color: var(--semantic-primary-background-medium);
	border-radius: var(--border-radius);
	overflow: hidden;
	box-shadow: 4px 4px 20px -8px rgba(58, 62, 111, 0.25) inset;

	@include responsive(phone) {
		width: 100%;
		align-items: center;
		text-align: center;
	}

	&-tabs {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;

		@include responsive(phone) {
			overflow-x: auto;
			@include hide-scrollbar();
		}

		&-tab {
			@include init-button;
			width: 100%;
			padding: 24px;
			@include typography($size: md, $weight: semi-bold);
			opacity: 0.5;
			border-bottom: 2px solid var(--semantic-primary-border-weak);
			overflow: hidden;

			&:hover {
				opacity: 0.75;
			}

			&--active {
				opacity: 1;
				border-color: var(--semantic-primary-border-strong);

				&:hover {
					opacity: 1;
				}
			}

			@include responsive(phone) {
				width: fit-content;
				flex: 0 0 auto;
				padding: 12px 24px;
				@include typography($size: sm, $weight: semi-bold);
			}
		}
	}

	&-body {
		width: 100%;
	}

	&-card {
		width: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-direction: column;
		gap: 24px;
		padding: 24px;
		position: relative;
		z-index: 1;

		&--hide {
			display: none;
		}

		&-header {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			gap: 24px;
			text-align: left;

			&-logo {
				width: 56px;
				height: 56px;
			}

			&__title {
				@include typography($size: head-4, $weight: medium);

				@include responsive(phone) {
					@include typography($size: xxxl, $weight: medium);
				}
			}

			&__subtitle {
				@include typography($size: lg, $weight: regular);

				@include responsive(phone) {
					@include typography($size: md, $weight: regular);
				}
			}
		}

		&-description {
			@include typography($size: md, $weight: regular);

			@include responsive(phone) {
				width: 100%;
				text-align: justify;
				@include typography($size: sm, $weight: regular);
			}
		}

		&-tags {
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			flex-flow: row wrap;
			gap: 16px;
			padding-right: 48px;

			@include responsive(phone) {
				padding-right: 0;
				justify-content: space-evenly;
				gap: 12px;
			}
		}

		&-blob {
			position: absolute;
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			object-fit: cover;
			opacity: 0.1;
			color: #8888da;
		}

		&:hover &-blob {
			opacity: 1;
		}
	}
}
