@import "tailwindcss";

body {
	font-family: var(--font-poppins);
	overflow-x: hidden;
	background: var(--accent-color-200);
	color: var(--theme-fg);
	letter-spacing: 0.025rem;
	word-spacing: 0.25rem;
	line-height: 1.25rem;
	position: relative;
}
