*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all var(--transition-time) ease-in-out;
	scroll-behavior: smooth;
}

:root,
:root::before,
:root::after {
	--transition-time: 0.1s;
	--font-red-hat-display: "Red Hat Display", sans-serif;
	--font-red-hat-text: "Red Hat Text", sans-serif;
	--font-raleway: "Raleway", sans-serif;
	--nav-height: 80px;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	font-family: var(--font-raleway);
	overflow-x: hidden;
	min-height: 100vh;
	background-image: url("/images/poster.webp");
	background-attachment: fixed;
	background-position-x: center;
	background-position-y: bottom;
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: darken;
	background-color: rgba(0, 0, 0, 0.25);
	font-feature-settings: "liga" on, "calt" on;
	touch-action: pan-x pan-y;
}

a {
	text-decoration: none;
	color: var(--color-theme-green);
	font-weight: 500;
	letter-spacing: 0.1rem;
	position: relative;
	transition: all 0.3s ease-in-out;

	&:hover {
		color: var(--color-theme-green);
	}

	&::after {
		content: "";
		position: absolute;
		bottom: -2px;
		left: 0;
		width: 0;
		height: 1px;
		background-color: var(--color-theme-green);
	}

	&:hover::after {
		width: 100%;
	}
}

.dispn {
	display: none !important;
}

::selection {
	background-color: var(--color-theme-green);
	color: var(--color-theme-dark-navy);
}
