@import "./mixins";

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all var(--transition-time) ease-in-out;
	scroll-behavior: smooth;
}

:root,
:root::before,
:root::after {
	--transition-time: 0.4s;
	--font-red-hat-display: "Red Hat Display", sans-serif;
	--font-red-hat-text: "Red Hat Text", sans-serif;
	--font-raleway: "Raleway", sans-serif;
	--nav-height: 80px;
	--socials-bar-width: 96px;
	--border-radius: 24px;

	@include responsive(phone) {
		--border-radius: 16px;
	}
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

body {
	background-color: var(--theme-ghost-white);
	font-family: var(--font-raleway);
	overflow-x: hidden;
	font-feature-settings:
		"liga" on,
		"calt" on;
	touch-action: pan-x pan-y;
	background-color: var(--semantic-primary-background-weak);
}

a {
	text-decoration: none;
	color: inherit;
}

.dispn {
	display: none !important;
}

::selection {
	background-color: var(--semantic-green-text-medium);
	color: var(--semantic-primary-background-medium);
}
