:root,
:root::after,
:root::before {
	--static-transparent: transparent;
	--static-white: #fff;
	--static-black: #000;

	--base-primary-50: #010619;
	--base-primary-100: #02123b;
	--base-primary-200: #0932ae;
	--base-primary-300: #0e47f1;
	--base-primary-400: #2c5df2;
	--base-primary-500: #3e6cf4;
	--base-primary-600: #6f91f6;
	--base-primary-700: #91abf8;
	--base-primary-800: #aec1f9;
	--base-primary-900: #cbd6fb;
	--base-primary-500-10: rgba(44, 93, 242, 0.102);
	--base-primary-500-30: rgba(44, 93, 242, 0.302);
	--base-primary-500-50: rgba(44, 93, 242, 0.502);

	--base-secondary-50: #0e0024;
	--base-secondary-100: #1e014b;
	--base-secondary-200: #4c01c6;
	--base-secondary-300: #6b1cfd;
	--base-secondary-400: #8139fe;
	--base-secondary-500: #8e4efd;
	--base-secondary-600: #ac7cfd;
	--base-secondary-700: #c09afe;
	--base-secondary-800: #cfb6fc;
	--base-secondary-900: #e2d3fd;
	--base-secondary-500-10: rgba(142, 78, 253, 0.102);
	--base-secondary-500-30: rgba(142, 78, 253, 0.302);
	--base-secondary-500-50: rgba(142, 78, 253, 0.502);

	--base-neutral-50: #040506;
	--base-neutral-100: #141519;
	--base-neutral-200: #3e414c;
	--base-neutral-300: #575c6b;
	--base-neutral-400: #656a7b;
	--base-neutral-500: #707789;
	--base-neutral-600: #9297a5;
	--base-neutral-700: #abafba;
	--base-neutral-800: #bec1ca;
	--base-neutral-900: #d8d9df;
	--base-neutral-500-10: rgba(112, 119, 137, 0.102);
	--base-neutral-500-30: rgba(112, 119, 137, 0.302);
	--base-neutral-500-50: rgba(112, 119, 137, 0.502);

	--base-red-50: #1a0200;
	--base-red-100: #330400;
	--base-red-200: #880d02;
	--base-red-300: #ba1203;
	--base-red-400: #d31503;
	--base-red-500: #e71604;
	--base-red-600: #fd6153;
	--base-red-700: #fd9086;
	--base-red-800: #fdaca5;
	--base-red-900: #fdcdc9;
	--base-red-500-10: rgba(231, 22, 4, 0.102);
	--base-red-500-30: rgba(231, 22, 4, 0.302);
	--base-red-500-50: rgba(231, 22, 4, 0.502);

	--base-yellow-50: #090801;
	--base-yellow-100: #1a1700;
	--base-yellow-200: #4b4202;
	--base-yellow-300: #695f02;
	--base-yellow-400: #776c03;
	--base-yellow-500: #827303;
	--base-yellow-600: #aa9903;
	--base-yellow-700: #c4b103;
	--base-yellow-800: #d8c303;
	--base-yellow-900: #f1d904;
	--base-yellow-500-10: rgba(130, 115, 3, 0.102);
	--base-yellow-500-30: rgba(130, 115, 3, 0.302);
	--base-yellow-500-50: rgba(130, 115, 3, 0.502);

	--base-green-50: #020d06;
	--base-green-100: #001a0b;
	--base-green-200: #044e25;
	--base-green-300: #036d35;
	--base-green-400: #047c3c;
	--base-green-500: #048641;
	--base-green-600: #04ae54;
	--base-green-700: #03c95f;
	--base-green-800: #12de71;
	--base-green-900: #01f98d;
	--base-green-500-10: rgba(4, 134, 65, 0.102);
	--base-green-500-30: rgba(4, 134, 65, 0.302);
	--base-green-500-50: rgba(4, 134, 65, 0.502);
}

:root,
:root::after,
:root::before {
	--semantic-primary-background-strong: var(--base-primary-200);
	--semantic-primary-background-medium: var(--base-primary-100);
	--semantic-primary-background-weak: var(--base-primary-50);
	--semantic-primary-solid-strong: var(--base-primary-400);
	--semantic-primary-solid-medium: var(--base-primary-300);
	--semantic-primary-solid-weak: var(--base-primary-200);
	--semantic-primary-on-solid-strong: var(--static-white);
	--semantic-primary-on-solid-weak: var(--base-primary-800);
	--semantic-primary-alpha-strong: var(--base-primary-500-50);
	--semantic-primary-alpha-medium: var(--base-primary-500-30);
	--semantic-primary-alpha-weak: var(--base-primary-500-10);
	--semantic-primary-text-strong: var(--static-white);
	--semantic-primary-text-medium: var(--base-primary-800);
	--semantic-primary-text-weak: var(--base-primary-600);
	--semantic-primary-border-strong: var(--base-primary-400);
	--semantic-primary-border-medium: var(--base-primary-300);
	--semantic-primary-border-weak: var(--base-primary-200);
	--semantic-secondary-background-strong: var(--base-secondary-200);
	--semantic-secondary-background-medium: var(--base-secondary-100);
	--semantic-secondary-background-weak: var(--base-secondary-50);
	--semantic-secondary-solid-strong: var(--base-secondary-400);
	--semantic-secondary-solid-medium: var(--base-secondary-300);
	--semantic-secondary-solid-weak: var(--base-secondary-200);
	--semantic-secondary-on-solid-strong: var(--static-white);
	--semantic-secondary-on-solid-weak: var(--base-secondary-800);
	--semantic-secondary-alpha-strong: var(--base-secondary-500-50);
	--semantic-secondary-alpha-medium: var(--base-secondary-500-30);
	--semantic-secondary-alpha-weak: var(--base-secondary-500-10);
	--semantic-secondary-text-strong: var(--static-white);
	--semantic-secondary-text-medium: var(--base-secondary-800);
	--semantic-secondary-text-weak: var(--base-secondary-600);
	--semantic-secondary-border-strong: var(--base-secondary-400);
	--semantic-secondary-border-medium: var(--base-secondary-300);
	--semantic-secondary-border-weak: var(--base-secondary-200);
	--semantic-neutral-background-strong: var(--base-neutral-200);
	--semantic-neutral-background-medium: var(--base-neutral-100);
	--semantic-neutral-background-weak: var(--base-neutral-50);
	--semantic-neutral-solid-strong: var(--base-neutral-400);
	--semantic-neutral-solid-medium: var(--base-neutral-300);
	--semantic-neutral-solid-weak: var(--base-neutral-200);
	--semantic-neutral-on-solid-strong: var(--static-white);
	--semantic-neutral-on-solid-weak: var(--base-neutral-800);
	--semantic-neutral-alpha-strong: var(--base-neutral-500-50);
	--semantic-neutral-alpha-medium: var(--base-neutral-500-30);
	--semantic-neutral-alpha-weak: var(--base-neutral-500-10);
	--semantic-neutral-text-strong: var(--static-white);
	--semantic-neutral-text-medium: var(--base-neutral-800);
	--semantic-neutral-text-weak: var(--base-neutral-600);
	--semantic-neutral-border-strong: var(--base-neutral-400);
	--semantic-neutral-border-medium: var(--base-neutral-300);
	--semantic-neutral-border-weak: var(--base-neutral-200);
	--semantic-yellow-background-strong: var(--base-yellow-200);
	--semantic-yellow-background-medium: var(--base-yellow-100);
	--semantic-yellow-background-weak: var(--base-yellow-50);
	--semantic-yellow-solid-strong: var(--base-yellow-400);
	--semantic-yellow-solid-medium: var(--base-yellow-300);
	--semantic-yellow-solid-weak: var(--base-yellow-200);
	--semantic-yellow-on-solid-strong: var(--static-white);
	--semantic-yellow-on-solid-weak: var(--base-yellow-800);
	--semantic-yellow-alpha-strong: var(--base-yellow-500-50);
	--semantic-yellow-alpha-medium: var(--base-yellow-500-30);
	--semantic-yellow-alpha-weak: var(--base-yellow-500-10);
	--semantic-yellow-text-strong: var(--static-white);
	--semantic-yellow-text-medium: var(--base-yellow-800);
	--semantic-yellow-text-weak: var(--base-yellow-600);
	--semantic-yellow-border-strong: var(--base-yellow-400);
	--semantic-yellow-border-medium: var(--base-yellow-300);
	--semantic-yellow-border-weak: var(--base-yellow-200);
	--semantic-red-background-strong: var(--base-red-200);
	--semantic-red-background-medium: var(--base-red-100);
	--semantic-red-background-weak: var(--base-red-50);
	--semantic-red-solid-strong: var(--base-red-400);
	--semantic-red-solid-medium: var(--base-red-300);
	--semantic-red-solid-weak: var(--base-red-200);
	--semantic-red-on-solid-strong: var(--static-white);
	--semantic-red-on-solid-weak: var(--base-red-800);
	--semantic-red-alpha-strong: var(--base-red-500-50);
	--semantic-red-alpha-medium: var(--base-red-500-30);
	--semantic-red-alpha-weak: var(--base-red-500-10);
	--semantic-red-text-strong: var(--static-white);
	--semantic-red-text-medium: var(--base-red-800);
	--semantic-red-text-weak: var(--base-red-600);
	--semantic-red-border-strong: var(--base-red-400);
	--semantic-red-border-medium: var(--base-red-300);
	--semantic-red-border-weak: var(--base-red-200);
	--semantic-green-background-strong: var(--base-green-200);
	--semantic-green-background-medium: var(--base-green-100);
	--semantic-green-background-weak: var(--base-green-50);
	--semantic-green-solid-strong: var(--base-green-400);
	--semantic-green-solid-medium: var(--base-green-300);
	--semantic-green-solid-weak: var(--base-green-200);
	--semantic-green-on-solid-strong: var(--static-white);
	--semantic-green-on-solid-weak: var(--base-green-800);
	--semantic-green-alpha-strong: var(--base-green-500-50);
	--semantic-green-alpha-medium: var(--base-green-500-30);
	--semantic-green-alpha-weak: var(--base-green-500-10);
	--semantic-green-text-strong: var(--static-white);
	--semantic-green-text-medium: var(--base-green-800);
	--semantic-green-text-weak: var(--base-green-600);
	--semantic-green-border-strong: var(--base-green-400);
	--semantic-green-border-medium: var(--base-green-300);
	--semantic-green-border-weak: var(--base-green-200);
}

:root,
:root::after,
:root::before {
	--radius-xs: 0.25rem;
	--radius-s: 0.5rem;
	--radius-m: 0.75rem;
	--radius-l: 1rem;
	--radius-xl: 1.25rem;
	--radius-50: 999px;
	--size-1: 0.0875rem;
	--size-2: 0.125rem;
	--size-4: 0.25rem;
	--size-8: 0.5rem;
	--size-12: 0.75rem;
	--size-16: 1rem;
	--size-20: 1.25rem;
	--size-24: 1.5rem;
	--size-32: 2rem;
	--size-40: 2.5rem;
	--size-56: 3.5rem;
	--size-64: 4rem;
	--size-88: 5.5rem;
	--size-120: 7.5rem;
	--size-160: 10rem;
	--size-200: 12.5rem;
}

:root,
:root::after,
:root::before {
	--focus-primary: 0 0 0 0.2rem var(--base-primary-500-30);
	--focus-secondary: 0 0 0 0.2rem var(--base-secondary-500-30);
	--focus-yellow: 0 0 0 0.2rem var(--base-yellow-500-30);
	--focus-red: 0 0 0 0.2rem var(--base-red-500-30);
	--shadow-s: 0px 0px 2px rgba(34, 36, 39, 0.16),
		0px 1px 4px rgba(34, 36, 39, 0.24), 0px 4px 8px rgba(34, 36, 39, 0.32);
	--shadow-m: 0px 0px 2px rgba(34, 36, 39, 0.16),
		0px 2px 4px rgba(34, 36, 39, 0.24), 0px 8px 8px rgba(34, 36, 39, 0.32);
	--shadow-l: 0px 2px 4px rgba(34, 36, 39, 0.16),
		0px 8px 12px rgba(34, 36, 39, 0.24), 0px 8px 16px rgba(34, 36, 39, 0.32);
	--shadow-xl: 0px 4px 4px rgba(34, 36, 39, 0.16),
		0px 8px 12px rgba(34, 36, 39, 0.24),
		0px 24px 24px rgba(34, 36, 39, 0.32);
}
