:root,
:root::before,
:root::after {
	--transition-time: 0.3s;
	--side-width: 16rem;
	--head-height: 2.5rem;

	--side-width-collapsed: 4.5rem;
	--side-width-expanded: 16rem;

	--font-poppins:
		Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-montserrat:
		"Montserrat", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, sans-serif;
	--font-alice:
		"Alice", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
		Roboto, "Helvetica Neue", Arial, serif;

	--accent-color: #685752;
	--accent-color-secondary: #997c70;
	--accent-color-tertiary: #8eb486;
	--accent-color-light: #fdf7f4;
	--accent-color-dark: #4b3d3a;
	--theme-bg: #fff;
	--theme-fg: var(--accent-color);

	--shadow-color: 0, 0, 0;
	--back-shadow: rgba(0, 0, 0, 0.15);
	--back-shadow-dark: rgba(0, 0, 0, 0.2);
	--back-shadow-light: rgba(0, 0, 0, 0.05);
}
